.consigne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &-title {
    margin: 10px;
    color: steelblue;
    font-weight: bold;
    font-size: 1.5em;
  }
  &-directive {
    font-style: italic;
    margin-bottom: 30px;
  }

  &-button {
    justify-content: space-evenly;
    display: inline-flex;
    &-button {
      border: teal;
      background: teal;
      color: aqua;
      border-radius: 10px;
    }
  }
}
.game {
  text-align: -webkit-center;
  &-label {
    font-size: 8em;
    color: #f0f;
    padding-bottom: 50px;
    padding-top: 0;
  }
  &-text {
    width: 300px;
    font-size: 2em;
  }
  &-p {
    font-style: italic;
  }
}

.result {
  &-title {
    margin: 10px;
    color: steelblue;
    font-weight: bold;
    font-size: 1.5em;
  }
  &-result {
    padding: 20px;
    color: teal;
    font-size: 3em;
    height: 100px;
    font-weight: bold;
  }
  &-button {
    border: teal;
    background: teal;
    color: aqua;
    border-radius: 10px;
  }
}
